/* blog_list.html */
div.blog:not(:last-child){
    margin-top:1em;
    border-bottom:1px solid #ccc;
}
div.blog span a{
    margin-left:-10px;
}
div.paginator{
    text-align: center;
}
div.blog span{
    margin-right: 1em;
}

/* blog_detail.html */
ul.blog-info-description li{
    display:inline-block;
    margin-right:1em;
}
ul.blog-info-description a{
    margin-left:-10px;
}
div.blog-content{
    word-wrap:break-word; 
    overflow:hidden;
}
div.blog-content p{
    text-indent: 2em; 
}
div.blog-more{
    margin-top:20px;
}
div.comment{
    margin-top: 2em;
}
h3.comment-title{
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.4em;
}
div.django-ckeditor-widget{
    width: 100%;
}
div.comment{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply{
    margin-left: 2em;
}
div#reply_content_container{
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title{
    border-bottom: 1px dashed #ccc;
    padding: 0.5em 0.5em 0.5em 0em;
}
div.like{
    color: #337ab7;
    padding: 0.5em 0.3em;
    cursor: pointer;
    display: inline-block;
}
div .like .active{
    color: #f22;
}