/* blog_list.html */
div.blog:not(:last-child){
    margin-top:1em;
    border-bottom:1px solid #ccc;
}
div.blog span a{
    margin-left:-10px;
}
div.paginator{
    text-align: center;
}
div.blog span{
    margin-right: 1em;
}

/* blog_detail.html */
ul.blog-info-description li{
    display:inline-block;
    margin-right:1em;
}
ul.blog-info-description a{
    margin-left:-10px;
}
div.blog-content{
    word-wrap:break-word; 
    overflow:hidden;
}
div.blog-content p{
    text-indent: 2em; 
}
div.blog-more{
    margin-top:20px;
}
